---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Skills from '../components/Skills.astro';
import Certificates from '../components/Certificates.astro';
---

<Layout>
	<Header />
	<main>
		<Skills />
		<Certificates />
	</main>
</Layout>
