---

---

<div class="container-1">
    <img src="/avatar.png" class="avatar" title="avatar" alt="avatar" />
</div>

<div class="container2">
    <h2>¡Hago código y creo <span>contenido sobre ello!</span></h2>
</div>

<div class="container3">
    <p class="parrafo">
        Soy un profesional altamente motivado, en constante desarrollo de mis
        habilidades y enfocado en el crecimiento continuo. Tengo plena confianza
        en mi capacidad para alcanzar nuevos desafíos, aportar soluciones
        innovadoras y seguir evolucionando en mi carrera.
    </p>
</div>

<div class="container4">
    <a class="botones" title="Contactame" target="_blank" href="https://wa.me/573025453611">Contactame</a>
    <a class="botones-1" title="Descargar Cv" download="Descargar Cv.pdf" target="_blank" href="hoja de vida.pdf">Descargar Cv</a>
</div>

<style>
    /* container-1 */
    .container-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .avatar {
        width: 200px;
    }

    .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container2 h2 {
        font-size: 2.5rem;
        text-align: center;
        color: white;
        width: 450px;
        text-align: center;
    }

    .container2 h2 span {
        background: linear-gradient(90deg, #ff6b6b, #ff8e53, #ff69b4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* container3 */
    .container3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .parrafo{
        color: white;
        font-size: 1.2rem;
        text-align: center;
        width: 600px;
    }

    /* container4 */
    .container4{
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 30px;
        margin-top: 20px;
    }

    .botones{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        text-align: center;
        text-decoration: none;
        color: black;
        width: 180px;
        height: 40px;
        border-radius: 20px;
    }

    .botones:hover{
        background-color: #183B4E;
        color: white;
        border: 2px solid white;
    }

    .botones-1{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        text-align: center;
        text-decoration: none;
        color: wheat;
        width: 180px;
        height: 40px;
        border-radius: 20px;
    }

    .botones-1:hover{
        background-color: #183B4E;
        color: white;
        border: 2px solid white; 
    }

</style>
