---

---

<header class="header">
    <nav class="navbar">
        <ul>
            <li><a class="content_a" title="Inicio" href="#">Inicio</a></li>
            <li><a class="content_a" title="Proyectos" href="#">Proyectos</a></li>
            <li><a class="content_a" title="Experiencia" href="#">Experiencia</a></li>
            <li><a class="content_a" title="Contacto" href="#">Certificados</a></li>
        </ul>
    </nav>
</header>

<style>
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    ul,li{
        display: flex;
        gap: 30px;
    }

    .content_a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #ffffff;
        font-size: 1rem;
    }

    @media screen and (max-width: 768px)  {
        .navbar{
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 30px;
        }

        .content_a{
            font-size: 0.8rem;
            
        }
    }
</style>