---
---

<div class="technologies-container">
    <div class="tech-carousel">
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="tech-icon"><path fill="#E34F26" d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"/></svg>
            <span>HTML</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="tech-icon"><path fill="#1572B6" d="M0 32l34.9 395.8L192 480l157.1-52.2L384 32H0zm313.1 80l-4.8 47.3L193 208.6l-.3.1h111.5l-12.8 146.6-98.2 28.7-98.8-29.2-6.4-73.9h48.9l3.2 38.3 52.6 13.3 54.7-15.4 3.7-61.6-166.3-.5v-.1l-.2.1-3.6-46.3L193.1 162l6.5-2.7H76.7L70.9 112h242.2z"/></svg>
            <span>CSS</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="tech-icon"><path fill="#F7DF1E" d="M0 32v448h448V32H0zm243.8 349.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"/></svg>
            <span>JavaScript</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="tech-icon"><path fill="#21759B" d="M61.7 169.4l101.5 278C92.2 413 43.3 340.2 43.3 256c0-30.9 6.6-60.1 18.4-86.6zm337.9 75.9c0-26.3-9.4-44.5-17.5-58.7-10.8-17.5-20.9-32.4-20.9-49.9 0-19.6 14.8-37.8 35.7-37.8.9 0 1.8.1 2.8.2-37.9-34.7-88.3-55.9-143.7-55.9-74.3 0-139.7 38.1-177.8 95.9 5 .2 9.7.3 13.7.3 22.2 0 56.7-2.7 56.7-2.7 11.5-.7 12.8 16.2 1.4 17.5 0 0-11.5 1.3-24.3 2l77.5 230.4L249.8 247l-33.1-90.8c-11.5-.7-22.3-2-22.3-2-11.5-.7-10.1-18.2 1.3-17.5 0 0 35.1 2.7 56 2.7 22.2 0 56.7-2.7 56.7-2.7 11.5-.7 12.8 16.2 1.4 17.5 0 0-11.5 1.3-24.3 2l76.9 228.7 21.2-70.9c9-29.4 16-50.5 16-68.7zm-139.9 29.3l-63.8 185.5c19.1 5.6 39.2 8.7 60.1 8.7 24.8 0 48.5-4.3 70.6-12.1-.6-.9-1.1-1.9-1.5-2.9l-65.4-179.2zm183-120.7c.9 6.8 1.4 14 1.4 21.9 0 21.6-4 45.8-16.2 76.2l-65 187.9C426.2 403 468.7 334.5 468.7 256c0-37-9.4-71.8-26-102.1zM504 256c0 136.8-111.3 248-248 248C119.2 504 8 392.7 8 256 8 119.2 119.2 8 256 8c136.7 0 248 111.2 248 248zm-11.4 0c0-130.5-106.2-236.6-236.6-236.6C125.5 19.4 19.4 125.5 19.4 256S125.6 492.6 256 492.6c130.5 0 236.6-106.1 236.6-236.6z"/></svg>
            <span>WordPress</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 57" class="tech-icon"><path fill="#A259FF" d="M19 28.5c5.523 0 10-4.477 10-10s-4.477-10-10-10-10 4.477-10 10 4.477 10 10 10zm9.5 2h-19C4.253 30.5 0 34.753 0 40v5.5h38V40c0-5.247-4.253-9.5-9.5-9.5z"/></svg>
            <span>Figma</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="tech-icon"><path fill="#777BB4" d="M320 104.5c171.4 0 303.2 72.2 303.2 151.5S491.3 407.5 320 407.5c-171.4 0-303.2-72.2-303.2-151.5S148.7 104.5 320 104.5m0-16.8C143.3 87.7 0 163 0 256s143.3 168.3 320 168.3S640 349 640 256 496.7 87.7 320 87.7zM218.2 242.5c-7.9 40.5-35.8 36.3-70.1 36.3l13.7-70.6c38 0 63.8-4.1 56.4 34.3zM97.4 350.3h36.7l8.7-44.8c41.1 0 66.6 3 90.2-19.1 26.1-24 32.9-66.7 14.3-88.1-9.7-11.2-25.3-16.7-46.5-16.7h-70.7L97.4 350.3zm185.7-213.6h36.5l-8.7 44.8c31.5 0 60.7-2.3 74.8 10.7 14.8 13.6 7.7 31-8.3 113.1h-37c15.4-79.4 18.3-86 12.7-92-5.4-5.8-17.7-4.6-47.4-4.6l-18.8 96.6h-36.5l32.7-168.6zM505 242.5c-8 41.1-36.7 36.3-70.1 36.3l13.7-70.6c38.2 0 63.8-4.1 56.4 34.3zM384.2 350.3H421l8.7-44.8c43.2 0 67.1 2.5 90.2-19.1 26.1-24 32.9-66.7 14.3-88.1-9.7-11.2-25.3-16.7-46.5-16.7H417l-32.8 168.7z"/></svg>
            <span>PHP</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="tech-icon"><path fill="#4479A1" d="M448 80v48c0 44.2-100.3 80-224 80S0 172.2 0 128V80C0 35.8 100.3 0 224 0s224 35.8 224 80zm-54.5 80c-6.7 4.2-15.2 8.1-25.5 11.7V176c0 44.2-100.3 80-224 80S0 220.2 0 176v-4.3c-10.3-3.6-18.8-7.5-25.5-11.7-14.3-8.9-21.5-17.4-21.5-24v48c0 44.2 100.3 80 224 80s224-35.8 224-80v-48c0 6.6-7.2 15.1-21.5 24zm-54.5 80c-6.7 4.2-15.2 8.1-25.5 11.7V256c0 44.2-100.3 80-224 80S0 300.2 0 256v-4.3c-10.3-3.6-18.8-7.5-25.5-11.7-14.3-8.9-21.5-17.4-21.5-24v48c0 44.2 100.3 80 224 80s224-35.8 224-80v-48c0 6.6-7.2 15.1-21.5 24z"/></svg>
            <span>MySQL</span>
        </div>
        <div class="tech-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="tech-icon"><path fill="#FF5D01" d="M16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0zm-.171 5.08l9.913 5.743c.223.129.288.415.145.625l-9.913 14.667c-.144.212-.46.276-.683.147L5.37 20.52c-.222-.13-.287-.415-.144-.626L15.14 5.227c.144-.21.46-.275.683-.146h.006z"/></svg>
            <span>Astro</span>
        </div>
    </div>
</div>

<style>
    .technologies-container {
        width: 80%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }

    .technologies-container::before,
    .technologies-container::after {
        content: '';
        position: absolute;
        top: 0;
        width: 100px;
        height: 100%;
        z-index: 2;
    }

    .technologies-container::before {
        left: 0;
    }

    .technologies-container::after {
        right: 0;
    }

    .tech-carousel {
        display: flex;
        gap: 2rem;
        animation: rotate 20s linear infinite;
        padding: 0 50px;
    }

    .tech-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        transition: transform 0.3s ease;
    }

    .tech-item:hover {
        transform: scale(1.1);
    }

    .tech-icon {
        width: 150px;
        height: 100px;
    }

    span {
        font-size: 0.9rem;
        color: #666;
    }

    @keyframes rotate {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @media (max-width: 768px) {
        .tech-icon {
            width: 40px;
            height: 40px;
        }

        span {
            font-size: 0.8rem;
        }
    }
</style>

