---
const { title = "Richard Castiblanco | Portafolio Web" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Soy un profesional altamente motivado, en constante desarrollo de mis habilidades y enfocado en el crecimiento continuo. Tengo plena confianza en mi capacidad para alcanzar nuevos desafíos, aportar soluciones innovadoras y seguir evolucionando en mi carrera.">
		<meta name="keywords" content="Inicio, proyectos, experiencia, certificados, contacto.">
		<meta name="author" content="richard castiblanco">
		<meta name="robots" content="index, follow" />
		
		<!-- Open Graph -->
		<meta property="og:title" content="Portafolio web richard castiblanco">
		<meta property="og:description" content="Soy un profesional altamente motivado, en constante desarrollo de mis habilidades y enfocado en el crecimiento continuo. Tengo plena confianza en mi capacidad para alcanzar nuevos desafíos, aportar soluciones innovadoras y seguir evolucionando en mi carrera.">
		<meta property="og:image" content="https://tuweb.com/imagen.jpg">
		<meta property="og:url" content="https://www.facebook.com/richard.castiblanco.58/">
		<meta property="og:type" content="website">
		
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Portafolio web richard castiblanco">
		<meta name="twitter:description" content="Soy un profesional altamente motivado, en constante desarrollo de mis habilidades y enfocado en el crecimiento continuo. Tengo plena confianza en mi capacidad para alcanzar nuevos desafíos, aportar soluciones innovadoras y seguir evolucionando en mi carrera.">
		<meta name="twitter:image" content="https://tuweb.com/richard.webp">
		<meta name="twitter:site" content="@richard01065122">

		
		<link rel="icon" type="image/svg+xml" href="/codigo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
	html,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
		background-color: #000000;
	}
</style>
